apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: v1
kind: Secret
metadata:
  name: azure-secret-sp
  namespace: external-secrets
type: Opaque
data:
  ClientID: ${azure_client_id}
  ClientSecret: ${azure_client_secret}
